body {
    background-color: #c5eedf57;
}

.menu li {
    padding: 0 30px;
}

.menu li:hover{
    cursor: pointer;
}

#divRegister, #divLogin {
    margin-top: 10%;
}

#divRegister .row .conten, #divLogin .row .conten {
    border: 1px solid #e87171;
    border-radius: 5px;
}

#divRegister h3 , #divLogin h3{
    text-align: center;
    color: #737373;
}

#divRegister form, #divLogin form{
    border-top: #4b6fc69e solid 2px;
}

#divRegister .btnRegis , #divLogin .btnLogin{
    text-align: end;
}

.selectd {
    background-color: #e87171;
}

.g-signin2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}